*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.page {
  display: flex;
  justify-items: center;
  align-items: center;
}

.content {
  /* overflow: hidden; */
  width: 1140px;
  height: 534px;
  display: grid;
  grid-template-rows: 78px 456px;
  grid-template-columns: 711px 399px;
  grid-template-areas: 
    ". details"
    "result details"; 
  column-gap: 30px;
}

.result {
  grid-area: result;
}

.result__video-container video {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.content__details {
  grid-area: details;
  display: flex;
  gap: 26px;
  flex-direction: column;
  justify-content: space-between;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.content__list-container .content__list{
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: scroll;

}

.content__list-item .content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  justify-items: start;
}

.content__list-item .content__video-card .content__video-card-thumbnail{
  width: 196px;
  height: 103px;
  object-fit: contain;
  object-position: center;
  
}

.content__video-card {
  flex-grow: 1;

  
}

.content__video-card-description-container {
  
  min-width: 0;
}

.content__video-card-title {
  text-transform: uppercase;
  color: white;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;    

}

.content__video-card-description {
  color: white;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed" sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: white;
}

.title .content__accent {
  color: #545050
}


input[type=text] {
  appearance: none;
  width: 225px;
  background-color: rgba(0, 0, 0, 0);
  color: white;

  font-family: "Fira Sans Condensed" sans-serif;
  font-weight: 400;
  font-size: 18px;

  border-bottom: 1px solid white;
  border-right: 0;
  border-left: 0;
  border-top: 1px solid white;
}

.search-form__fieldset {
  width: 225px;
  height: 54px;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__textfield::placeholder {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  margin-right: 1.5px;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: "";
  background-color: white;
  display: inline-block;
  width: 15px;
  height: 15px;
  
  position: absolute;
  top: 1px;
  left: 1px;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
}

.search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  height: 34px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  text-align: center;
  border: 1px solid white;
}

.button:hover {
   cursor: pointer;
   text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid white;
}

.search-form__submit-button {
  justify-self: end;
  align-self: end;
  width: 194px;
}

.more-button {
  width: 100%;
}

.content__video-card:active {
  background-color: #545050;
  text-decoration: none;
}

.content__list-item:hover .content__video-card-title,
.content__list-item:hover .content__video-card-description {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list:focus {
  outline: none;
}

.content__list:focus-visible {
  outline: 1px solid white;
}